{% extends 'base.html' %}
{% load humanize %}
{% block content %}

<div class="card shadow border-0">

<div class="card-body">

<h1>{{ article.title }}</h1>

{% if article.category %}
<div class="mb-3">
    <span class="category-text">
        {{ article.category.name }}
    </span>
    <span class="text-secondary">
        •
    </span>
    <small class="text-secondary">
        {{ article.created_at|naturaltime }}
    </small>
</div>
{% endif %}

{% if article.image %}
<img src="{{ article.image.url }}"
     class="img-fluid rounded mb-3">
{% endif %}

<div class="article-content">
    {{ article.content|linebreaks }}
</div>

<a href="/" class="btn btn-secondary">
    Kembali
</a>

</div>
</div>

{% endblock %}